<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <h1>
                        <a class="navbar-brand" href="#">
                            Restaurant
                        </a>
                    </h1>
                </div>
                <div class="col-lg-9 header-bottom-wthree">
                    <div class="d-md-flex justify-content-lg-end justify-content-center header-right">
                        <div class="right_nav">
                            <div style="display: flex; align-items: center;">
                                <!-- Display the username -->
                                <form id="usernameId" method="post" style="display: inline;">
                                    <span id="usernameDisplay" class="mr-2">@Session["Username"]</span>
                                </form>

                                <!-- Logout form -->
                                <form id="logoutForm" action="@Url.Action("Logout", "Register")" method="post" style="display: inline;">
                                    <button type="submit" id="logoutButton" class="btn ml-2 wthree-link-bnr">Logout</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentPage = window.location.pathname;
        var loginButton = document.getElementById('loginButton');
        var registerButton = document.getElementById('registerButton');
        var logoutButton = document.getElementById('logoutButton');

        // Check if the current page is the login page or not
        var isLoginPage = currentPage === '/' || currentPage.includes('Home/LoginForm');

        if (isLoginPage) {
            logoutButton.style.display = 'none';
        } else {
            logoutButton.style.display = 'block';
        }
    });
</script>

